/*Show Mobile*/
*[class=show-container-mobile]{
	display:block!important;
	margin:auto!important;
	width:100%!important;
	height:auto!important;
	max-height:inherit!important;
	overflow:visible!important;
}
.show-container-mobile{
	display:block!important;
	margin:auto!important;
	width:100%!important;
	height:auto!important;
	max-height:inherit!important;
	overflow:visible!important;
}
