body.dev{
    table{
        outline: 2px solid tomato;
        tr{
            outline: 1px solid #cccccc;
            td{
                position: relative; 
                &:nth-child(even) {
                    background: rgba(70, 130, 180, 0.2); }
            }
            
        }
    }
}